*{
    margin: 0; padding: 0;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root{
    /*### Primary*/

--Soft-red: hsl(10, 79%, 65%);
--Cyan: hsl(186, 34%, 60%);

    /*### Neutral*/

--Dark-brown: hsl(25, 47%, 15%);
--Medium-brown: hsl(28, 10%, 53%);
--Cream: hsl(27, 66%, 92%);
--Very-pale-orange: hsl(33, 100%, 98%);
}

body{
    font-family: 'DM Sans', sans-serif;
    background-color: var(--Cream);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    max-width: 1440px;
}
main{
    max-width: 450px;
    margin-bottom: 5rem;
    margin: auto;
}
.info{
    margin: 1rem 0 0 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--Dark-brown)
}
.balance{
    background-color: var(--Soft-red);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    color: white;
    width: fit-content;

}
.balance{
    margin-bottom: 20px;
}
.balance p{
    font-size: 0.6rem;
}
.my-balance .value{
    font-size: 1.1rem;
    font-weight: 700;
    padding-top: 5px;
}
.balance img{
    height: 2rem;
    padding-left: 295px ;
}

.container{
    width: fit-content;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}
.grafics{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    padding: 0 20px;
    width: fit-content;
}

.mon{
    background-color: var(--Soft-red);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 5px;
}

.tue{
    background-color: var(--Soft-red);
    height: 5rem;
    width: 2.5rem;
    border-radius: 5px;
}

.wed{
    background-color: var(--Cyan);
    height: 7.5rem;
    width: 2.5rem;
    
    border-radius: 5px;
}
.thu{
    background-color: var(--Soft-red);
    height: 4rem;
    width: 2.5rem;
    
    border-radius: 5px;
}

.fri{
    background-color: var(--Soft-red);
    height: 2.7rem;
    width: 2.5rem;
    border-radius: 5px;
}
.sat{
    background-color: var(--Soft-red);
    height: 7rem;
    width: 2.5rem;
    border-radius: 5px;
}
.sun{
    background-color: var(--Soft-red);
    height: 3rem;
    width: 2.5rem;
    border-radius: 5px;
    
}
    
.item{
    min-width: 3.6rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0 30px 0;
}
.item p{
    font-size: 10pt;
}
.item-value{
    
    color: white;
    border-radius: 5px;
    min-width: 50px;
    text-align: center;
    padding: 3px;
    margin-bottom: 5px;
    width: fit-content;
}
.item-value:hover{
    background-color: var(--Dark-brown);
    
}
.line{
    
    border-top: 0.5px solid var(--Medium-brown);
    margin: 0 25px;
}
.aside{
    font-size: 0.8rem;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.aside .value{
    font-size: 2rem;
    font-weight: 700;
    color: var(--Dark-brown);
}
.Medium-brown{
    color: var(--Medium-brown);
}
.last-month{
    margin-top: 20px;
}
.percentual{
    text-align: right;
}
